/*diseño de impur tipo file*/
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/* estilo de barra de iconos*/
.social-bar {
  position: fixed;
  left: 0;
  top: 35%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  transition: all 0.5s;
}

.icon-glassdoor {
  background-color: #eaeded;
  color: blue;
}

.icon-facebook {
  background-color: #eaeded;
  color: blue;
}

.icon:first-child {
  border-radius: 0px;
}

.icon:last-child {
  border-radius: 0px;
}

.icon:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  font-size: 30px;
  border-radius: 0px;
}
