/*diseño de impur tipo file*/
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
body {
    background-color: rgb(52, 152, 219);
}
nav{
    background: #2a2e6d;
}

.formulario-noticias {
    background-image: url('../img/fd.jpg');
}

.formulario-noticias input{
    background-color: rgb(52, 152, 219, .6);
}
.formulario-noticias select{
    background-color: rgb(52, 152, 219, .6);
}
.formulario-noticias select:focus {
    background-color: rgb(52, 152, 219, .6);
    font-weight: bold;
    color: white;
}

.formulario-noticias input:focus {
    background-color: rgb(52, 152, 219, .6);
    font-weight: bold;
    color: white;
}

